@model Interior.DomainLayer.Concrete.Project
@{
    ViewData["Title"] = "UpdateProject";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Projeler</h2>
            </div>
        </div>
        <form method="post">
            <input type="hidden" asp-for="ProjectID"/>
            <div>
                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="ProjectTitle" />
            </div>
            <div>
                <label>İçerik</label>
                <input type="text" class="form-control" asp-for="ProjectDescription" />
            </div>
            <div>
                <label>Resim</label>
                <input type="text" class="form-control" asp-for="ProjectImage" />
            </div>
            <br />
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>

