
<section class="w3l-stats">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-lg-3">
            <h3 class="title-big">İstatistik</h3>
            <div class="row main-cont-wthree-fea">
                <div class="col-lg-3 col-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-building" aria-hidden="true"></span>
                        <h3 class="title-spe">25</h3>
                        <p>Yılların Tecrübesi</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-file-text" aria-hidden="true"></span>
                        <h3 class="title-spe">250+</h3>
                        <p>Alınan Projeler</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-sm-4 mt-3">
                    <div class="grids-speci1">
                        <span class="fa fa-trophy" aria-hidden="true"></span>
                        <h3 class="title-spe">120</h3>
                        <p>Ödüller</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-sm-4 mt-3">
                    <div class="grids-speci1">
                        <span class="fa fa-percent" aria-hidden="true"></span>
                        <h3 class="title-spe">%90</h3>
                        <p>Memnuniyet</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
