@model Interior.DomainLayer.Concrete.OurField
@{
    ViewData["Title"] = "AddOurField";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Alan</h2>
            </div>
        </div>
        <form method="post">
            <div>
                <label>Alan Adı</label>
                <input type="text" class="form-control" asp-for="OurFieldName" />
            </div>
            <div>
                <label>Resim</label>
                <input type="text" class="form-control" asp-for="OurFieldImage" />
            </div>
            <br />
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>

