
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>
    <!--w3l-header-->

    @await Component.InvokeAsync("_HeaderPartial")
    <!-- //w3l-header -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-services py-5">
            <div class="container py-lg-5 py-md-3">
                <h2 class="title">Hizmetlerimiz</h2>
            </div>
        </div>
    </section>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hizmetler</li>
            </ul>
        </div>
    </section>
    <!-- home page service grids -->
   @await Component.InvokeAsync("_Service2Partial")
    <!-- //home page service grids -->
    <section class="w3l-content-12-main">
        <!-- /content-6-section -->
        <div class="content-12 text-left py-5">
            <div class="container py-lg-5">
                <div class="content-info-tabs text-center">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label class="tabtle" for="tab1">Görevimiz</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label class="tabtle" for="tab2">Hedeflerimiz</label>
                    <input id="tab3" type="radio" name="tabs">
                    <label class="tabtle" for="tab3">Şirket Değerleri</label>
                    <section id="content1" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Kaliteli Döşeme Çözümleri Sağlamak</h6>
                                <p class="content-para mb-3">
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam
                                    sequi optio consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur
                                    adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem ipsum
                                    dolor sit amet,Ea consequuntur illum facere aperiam.
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quidem odit consequuntur
                                    ducimus neque, harum eos eligendi maiores ex cum nobis, alias nam ipsa in, doloribus id
                                    nulla? Ea, cupiditate.
                                </p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="~/interiorfloor-starter/assets/images/ser3.jpg" class="img-fluid radius-image" alt="">
                            </div>

                        </div>
                    </section>
                    <section id="content2" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Etkileyici zeminler tasarlama</h6>
                                <p class="content-para mb-3">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quidem odit consequuntur
                                    ducimus neque, harum eos eligendi maiores ex cum nobis, alias nam ipsa in, doloribus id
                                    nulla? Ea, cupiditate.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam
                                    sequi optio consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur
                                    adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem ipsum
                                    dolor sit amet,Ea consequuntur illum facere aperiam sequi..
                                </p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="~/interiorfloor-starter/assets/images/ser2.jpg" class="img-fluid radius-image" alt="">
                            </div>
                        </div>
                    </section>
                    <section id="content3" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Genel İlkelerimiz</h6>
                                <p class="content-para mb-3">
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam
                                    sequi optio consectetur. Ea consequuntur illum facere
                                </p>
                                <p class="content-para mb-3">
                                    Aperiam sequi optio consectetur
                                    adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem ipsum
                                    dolor sit amet,Ea consequuntur ..
                                </p>

                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quidem odit consequuntur
                                    ducimus neque, harum eos eligendi maiores ex cum nobis, alias nam ipsa in, doloribus id
                                    nulla? Ea, cupiditate.
                                </p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="~/interiorfloor-starter/assets/images/ser1.jpg" class="img-fluid radius-image" alt="">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- //content-6-section -->
    <!-- grids -->
    @await Component.InvokeAsync("_OurFieldPartial")
    <!-- //grids -->
    <!-- cover1 -->
    <section class="w3l-covers-1">
        <div class="cover">
            <div class="container">
                <div class="cover-content">
                    <h3>Yeni Koleksiyonlarda %20. İndiriminizi bugün alın!</h3>
                    <a href="#Learn" class="read-more btn btn-style btn-primary">Daha fazla bilgi edin</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //cover1 -->
    @await Component.InvokeAsync("_FooterPartial")

    <!-- jQuery and Bootstrap JS -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>

</html>